# Data Structure

Aka data container.
Way of organising and storing data so that it can be accessed and manipulated easily and efficiently.
- It is sequencial way of organising data.

In [1]:
m="APPLESs"
m[0],m[1],m[2],m[3],m[4],m[5],m[6]

('A', 'P', 'P', 'L', 'E', 'S', 's')

Types of data structure:
- String
- List
- Tuple
- Set
- Dictionary
- Array

##List

- Can store anything.
- Heterogenous
- Ordered collection of elements
- Mutable

In [2]:
num=[1,2,3,4]
num

[1, 2, 3, 4]

In [3]:
type(num)

list

In [4]:
num[-1],num[-2],num[-3],num[-4]

(4, 3, 2, 1)

In [5]:
num[0],num[1],num[2],num[3]

(1, 2, 3, 4)

In [6]:
# Can stor all types of data << Heterogenous
list1=["Apple","Banana","Watermelon",25,67.98,-67,5+7j,True]
list1

['Apple', 'Banana', 'Watermelon', 25, 67.98, -67, (5+7j), True]

In [7]:
type(list1)

list

### Mutable

Can be modified or edited even after execution

In [8]:
list1

['Apple', 'Banana', 'Watermelon', 25, 67.98, -67, (5+7j), True]

In [9]:
list1[0]

'Apple'

In [10]:
list1[0]="Grapes"

In [11]:
list1 # 1st element i.e. Apple is replaced by Grapes.

['Grapes', 'Banana', 'Watermelon', 25, 67.98, -67, (5+7j), True]

### Adding elements to the list

In [12]:
list1

['Grapes', 'Banana', 'Watermelon', 25, 67.98, -67, (5+7j), True]

In [13]:
# To add element we use list.append("item")
list1.append("Fruits") #append object to the end of list
list1

['Grapes', 'Banana', 'Watermelon', 25, 67.98, -67, (5+7j), True, 'Fruits']

In [14]:
type(list1)

list

In [15]:
list1

['Grapes', 'Banana', 'Watermelon', 25, 67.98, -67, (5+7j), True, 'Fruits']

In [16]:
# Use case
playlist=[]
playlist.append("Raabta")
playlist.append("Perfect")
playlist.append("Donali")
playlist

['Raabta', 'Perfect', 'Donali']

### Removing element from list

In [17]:
# To remove element we use list.remove(item)
list1.remove("Fruits")
list1

['Grapes', 'Banana', 'Watermelon', 25, 67.98, -67, (5+7j), True]

In [18]:
list1.remove(-67)
list1

['Grapes', 'Banana', 'Watermelon', 25, 67.98, (5+7j), True]

### Nested List

Lists inside other list

In [19]:
a=[[1,2,3],[4,5,6],[7,8,9]]
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [20]:
type(a)

list

In [21]:
# Indexing this kind of lists by list[m][n]
a[0][2],a[1][1],a[2][0]

(3, 5, 7)

In [22]:
a[0][1]

2

### Iteration in List

In [23]:
for i in a:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

### Slicing of List

Extracting a part or slice of a list.
- list[start:end:step]
- start : Index where slice starts (inclusive)
- end : index where slice ends (Exclusive)
- step : How many items to skip (Optional)

In [24]:
my_num=[1,2,3,4,5,6,7]
my_num

[1, 2, 3, 4, 5, 6, 7]

In [25]:
# to get first three character
my_num[0:3]

[1, 2, 3]

In [26]:
# to get last 4 character
my_num[-5:]

[3, 4, 5, 6, 7]

### insert()

To insert object before sepcific index

In [27]:
emp_id=["SAM02","PRA78","ANU56","MAH34"]
emp_id

['SAM02', 'PRA78', 'ANU56', 'MAH34']

In [28]:
emp_id.insert(1,"DIP21")
emp_id

['SAM02', 'DIP21', 'PRA78', 'ANU56', 'MAH34']

In [29]:
#Use case
bus_seat=["A","B","C","D","F","G","J"]

In [30]:
bus_seat.insert(4,"E")
bus_seat

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'J']

In [31]:
bus_seat.insert(7,"H")
bus_seat

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'J']

In [32]:
bus_seat.insert(8,"I")
bus_seat

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

### extend()

Used to append elements from another list

In [33]:
my_list=["Singing","Travelling","Dancing","Cooking"]
your_list=["Coding","Sleeping","Yapping"]

In [34]:
my_list.extend(your_list)
my_list

['Singing',
 'Travelling',
 'Dancing',
 'Cooking',
 'Coding',
 'Sleeping',
 'Yapping']

In [35]:
my_list=["Singing","Travelling","Dancing","Cooking"]
your_list=["Coding","Sleeping","Yapping"]

In [36]:
your_list.extend(my_list)
your_list

['Coding',
 'Sleeping',
 'Yapping',
 'Singing',
 'Travelling',
 'Dancing',
 'Cooking']

### Concatenation of List

Join two or more list

In [37]:
my_list=["Singing","Travelling","Dancing","Cooking"]
your_list=["Coding","Sleeping","Yapping"]
my_list+your_list

['Singing',
 'Travelling',
 'Dancing',
 'Cooking',
 'Coding',
 'Sleeping',
 'Yapping']

In [38]:
a=["A","B"]
b=["C","D"]
c=["E","F"]
a+b+c

['A', 'B', 'C', 'D', 'E', 'F']

### Repetition Operator

In [39]:
"* "*15

'* * * * * * * * * * * * * * * '

In [40]:
"- _ "*10

'- _ - _ - _ - _ - _ - _ - _ - _ - _ - _ '

In [41]:
[0]*10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [42]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [43]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
list(range(10))*3

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9]

In [45]:
msg="Hi \n"
print(msg*3)

Hi
Hi
Hi

### Membership Operator in List

In [46]:
movies=["Avengers","DDLJ","Fault"]

In [47]:
"DDLJ" in movies

True

In [48]:
"Intersteller" not in movies

True

In [49]:
"DDLJ" not in movies

False

In [50]:
"intersteller" in movies

False

### Deep Copy & Shallow Copy

- Shallow Copy :
Value will change with change in other List ( memory block will be same for the both)

In [51]:
outfit=["Jeans","Bodycon","Middi","Hoodie","Shirt"]
outfit

['Jeans', 'Bodycon', 'Middi', 'Hoodie', 'Shirt']

In [52]:
wardrobe=outfit
wardrobe

['Jeans', 'Bodycon', 'Middi', 'Hoodie', 'Shirt']

In [53]:
outfit[2]="Suits"
outfit

['Jeans', 'Bodycon', 'Suits', 'Hoodie', 'Shirt']

In [54]:
wardrobe

['Jeans', 'Bodycon', 'Suits', 'Hoodie', 'Shirt']

- Deep copy : Will not change the value in another list (Use different memory blocks)

In [55]:
# deep copy
a = ["a",1, 2, 3]

In [56]:
import copy
copy.deepcopy(a)

['a', 1, 2, 3]

In [57]:
b = a.copy()

In [58]:
b

['a', 1, 2, 3]

In [59]:
outfit=["Jeans","Bodycon","Middi","Hoodie","Shirt"]
outfit

['Jeans', 'Bodycon', 'Middi', 'Hoodie', 'Shirt']

In [60]:
wardrobe=outfit.copy()
wardrobe

['Jeans', 'Bodycon', 'Middi', 'Hoodie', 'Shirt']

In [61]:
outfit[2]="Saaree"
outfit

['Jeans', 'Bodycon', 'Saaree', 'Hoodie', 'Shirt']

In [62]:
wardrobe

['Jeans', 'Bodycon', 'Middi', 'Hoodie', 'Shirt']

### Sorting List

- Sort the list in alphabetical order
- syntax : sorted(list)

In [63]:
outfit=["Jeans","Bodycon","Middi","Hoodie","Shirt"]
sorted(outfit)

['Bodycon', 'Hoodie', 'Jeans', 'Middi', 'Shirt']

### Index in list

- Return the index of 1st occurence
- syntax : list.index("Item")

In [64]:
outfit.index("Jeans")

0

In [65]:
outfit.index("Hoodie")

3

### Length of list

- Used to determine the no. of elements present in List
- syntax : len(list)

In [66]:
len(outfit)

5

### .count()

- gives count of specific elements

In [67]:
listyy=["Chocolate",5,8,"Maggie","Chocolate",8,8,"Coke","Chocolate",5]
listyy

['Chocolate', 5, 8, 'Maggie', 'Chocolate', 8, 8, 'Coke', 'Chocolate', 5]

In [68]:
listyy.count("Chocolate")

3

In [69]:
listyy.count(5)

2

### Deleting the List

To del tha entire list / variable defined for list

In [70]:
del listyy

In [71]:
#listyy #<< not defined

### .clear()

- To clear the elements inside the list
- Syntax : list.clear()

In [72]:
outfit

['Jeans', 'Bodycon', 'Middi', 'Hoodie', 'Shirt']

In [73]:
outfit.clear()

In [74]:
outfit

[]

### .pop()

- used to pop out the elements from list
- by default, pop out last element
- syntax : list.pop(index)

In [75]:
OTT=["Netflix","Prime","Hotstar","SonyLiv","Alt Balaji"]
OTT

['Netflix', 'Prime', 'Hotstar', 'SonyLiv', 'Alt Balaji']

In [76]:
OTT.pop()

'Alt Balaji'

In [77]:
OTT

['Netflix', 'Prime', 'Hotstar', 'SonyLiv']

In [78]:
OTT.pop(1)

'Prime'

In [79]:
OTT

['Netflix', 'Hotstar', 'SonyLiv']

### List Comprehension

- A short-hand way to built a new list by applying an operation to each item or iterable --------- in a SINGLE LINE.
- syntax : new_list=[expression 'for' item 'in' iterable 'if' condition]

In [80]:
# example
num=[10,20,30,40,50,60]
doubled_num=[]
for i in num:
    doubled_num.append(i*2)
doubled_num

[20, 40, 60, 80, 100, 120]

In [81]:
[a*2 for a in num]

[20, 40, 60, 80, 100, 120]

In [82]:
name=["prag","anu","bubbu"]
Name=[]
for i in name:
    Name.append(i.capitalize())
Name

['Prag', 'Anu', 'Bubbu']

In [83]:
[xyz.capitalize() for xyz in name]

['Prag', 'Anu', 'Bubbu']

In [84]:
[xyz.upper() for xyz in name]

['PRAG', 'ANU', 'BUBBU']

In [85]:
num=[2,4,3,5]
squares=[]
for i in num:
    squares.append(i**2)
squares

[4, 16, 9, 25]

In [86]:
[mi**2 for mi in num]

[4, 16, 9, 25]

#### .split()

- used to split the word
- Syntax : list.split("splitting point")[index]

In [87]:
str1="doc1.ppt"
str1.split(".")

['doc1', 'ppt']

In [88]:
my_files=["xyz.pdf","abc.ipynb","mno.jpg","pqr.mp4"]
my_files

['xyz.pdf', 'abc.ipynb', 'mno.jpg', 'pqr.mp4']

In [89]:
[extension.split(".") for extension in my_files]

[['xyz', 'pdf'], ['abc', 'ipynb'], ['mno', 'jpg'], ['pqr', 'mp4']]

In [90]:
str1="doc1.ppt"
str1.split(".")[-1]

'ppt'

### Conditional List Comprehension

In [91]:
email=["at@gmail","gt@yahoo","pd@outlook"]
email

['at@gmail', 'gt@yahoo', 'pd@outlook']

In [92]:
[id.split("@") for id in email]

[['at', 'gmail'], ['gt', 'yahoo'], ['pd', 'outlook']]

In [93]:
email_address=["at@gmail.com","gt@yahoo.com","pd@outlook.com"]
[email for email in email_address if email.endswith("@yahoo.com")]

['gt@yahoo.com']

In [94]:
number=[24,67,34,65,12,89]
[even for even in number if even%2==0]

[24, 34, 12]

### Nested List Comprehension

In [95]:
pairs=[]
for x in [1,2,3]:
    for y in [4,5,6]:
        pairs.append([x,y])
pairs

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [96]:
[[x,y] for x in [1,2,3] for y in [4,5,6]]

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [97]:
[[x*y] for x in [2,3] for y in [4,5]]

[[8], [10], [12], [15]]

### Stack and Queue

#### Stack

![image.png]()

- LIFO = Last In First Out
- The element which is added at last will come out first

In [98]:
stack_of_plates=[]
stack_of_plates.append("Plate 1") #added 1st
stack_of_plates.append("Plate 2") #added 2nd
stack_of_plates.append("Plate 3") #added 3rd
stack_of_plates.append("Plate 4") #added last
stack_of_plates

['Plate 1', 'Plate 2', 'Plate 3', 'Plate 4']

In [99]:
stack_of_plates.pop() #added last, pop out 1st

'Plate 4'

In [100]:
#use case
browsing_history=[]
browsing_history.append("Home Page")
browsing_history.append("About Us")
browsing_history.append("Contact")
browsing_history.append("Google Map")
browsing_history

['Home Page', 'About Us', 'Contact', 'Google Map']

In [101]:
browsing_history.pop() #to undo last action

'Google Map'

In [102]:
browsing_history

['Home Page', 'About Us', 'Contact']

#### Queue

![image.png]()

- FIFO : First In First Out
- Works in orderly sequential manner
- It has Two ends : Enque & Dequeue

#### Library

Collection of multiple Python module or script for reusing the code.

In [103]:
from collections import deque
# collections is library
# deque is module

In [104]:
check_out=deque()
check_out.append("CLass 1")
check_out.append("CLass 2")
check_out.append("CLass 3")
check_out.append("CLass 4")
check_out.append("CLass 5")
check_out

deque(['CLass 1', 'CLass 2', 'CLass 3', 'CLass 4', 'CLass 5'])

In [105]:
from queue import Queue

In [106]:
print_queue=Queue()
print_queue.put("Print the first copy.")
print_queue.put("Print the second copy.") # put is similar to push
print_queue.put("Print the third copy")
print_queue

while not print_queue.empty():
    print_job=print_queue.get() # get is similar to pop
    print("Printing",print_job)

Printing Print the first copy.
Printing Print the second copy.
Printing Print the third copy

## String

Sequences of character where each character is unit of text which represent and manipulate textual data

- Characters are represented using numerical values as each character is assign by unique value.
- ** ASCII ** : *American Standard Code for Information Interchange*.
 It has 7 bits only (2^7=128) characters.
- ** UTF ** : *Unicode Transformation Format * . It is popular encoding schemes for unicode. 16 bits character

In [107]:
    # ASCII representation
char="A"
ord(char) #ord=ordinal >> numerical value of characters

65

In [108]:
ord("a")

97

In [109]:
chr(97)

'a'

In [110]:
# UNICODE representation
'\u03A9'

''

In [111]:
'\u03A6'

''

In [112]:
'\u0954'

''

In [113]:
'\u0975'

''

### writing string

- string must be enclosed in "...........".
- anything written between double/single inverted comma is a string

In [114]:
str1="PWskills"
str1

'PWskills'

In [115]:
type(str1)

str

In [116]:
str2='PWskill'
str2

'PWskill'

In [117]:
type(str2)

str

In [118]:
# Multiline String
a=''' I am Pragati.
I like flowers.
Tulip is my fav.
'''
print(a)

 I am Pragati.
I like flowers.
Tulip is my fav.

In [119]:
a # \n is a escape character which is used to insert a new line.

' I am Pragati.\nI like flowers.\nTulip is my fav.\n'

### Concatenation

Concatenation means combining strings

In [120]:
"Pragati"+"Dwivedi"

'PragatiDwivedi'

In [121]:
a="Prag"
b="is"
c="Cute"
a+"_"+b+"_"+c

'Prag_is_Cute'

### Extracting / Slicing

In [122]:
a="Pragatii"
a[0],a[1],a[2]

('P', 'r', 'a')

In [123]:
#slicing
a[0:2] #last value excluded

'Pr'

In [124]:
str1="I am a pretty little baby"
str1[0:7] # start from 0 index end on 6 index

'I am a '

In [125]:
str1[0:] #if end index not provided, by default it comes to an end till last index

'I am a pretty little baby'

In [126]:
str1[:-4] # if start index not provided, by default it begins with 1st index

'I am a pretty little '

In [127]:
# print except last n character
str1[:-5] #n=5

'I am a pretty little'

In [128]:
# print only last n character
str1[-4:] # n=4

'baby'

In [129]:
str1[0:9:2] # start : end : skip

'Ia  r'

In [130]:
a="hellouniverse"
a[0:10:2]

'hlonv'

- reverse

In [131]:
a[::-1]

'esrevinuolleh'

### length

In [132]:
a

'hellouniverse'

In [133]:
len(a)

13

In [134]:
str1

'I am a pretty little baby'

In [135]:
len(str1)

25

### Modification of str

In [136]:
str1

'I am a pretty little baby'

In [137]:
str1.replace("little","beautiful")

'I am a pretty beautiful baby'

- str.lower()

In [138]:
a='Hello WORLD!'
a.lower()

'hello world!'

- str.upper()

In [139]:
a.upper()

'HELLO WORLD!'

- To make 1st letter capital of each word
- str.title()

In [140]:
str1.title()

'I Am A Pretty Little Baby'

- To convert lower case to upper and vice versa
- str.swapcase()

In [141]:
strr='I am OK'
strr.swapcase()

'i AM ok'

### String searching

- If any string (large) is given, to search any specific word whether it is given or not we use this command.

In [142]:
sentence='My Delulu is someones solulu.'

In [143]:
"Delulu" in sentence

True

In [144]:
search_word="solulu"
if search_word in sentence:
    print("Present")
else:
    print("Not Present")

Present

In [145]:
email="at12@hotmail.com"
if "@" in email:
    print("Valid email")
else:
    print("Invalid email")

Valid email

### Sorting

To sort the string in alphabetical order.

In [146]:
noun=["Apple","Zebra","Mango","Pandas"]
sorted(noun)

['Apple', 'Mango', 'Pandas', 'Zebra']

### Removing space

- To remove if unwanted space is present

In [147]:
name="    prag    ati   "
name.strip()

'prag    ati'

### String Splitting

In [148]:
data="Anu,Python,Banglore"
data

'Anu,Python,Banglore'

In [149]:
info=data.split(',')
info

['Anu', 'Python', 'Banglore']

In [150]:
info[0],info[2]

('Anu', 'Banglore')

### Escape sequence

- special combination of character used within string to perform specific tasks

In [151]:
address=''' 123, Saket Enclave
Godson Society
Gomtinagar
Lucknow'''
address # \n is an escape character >> To insert a new line

' 123, Saket Enclave\nGodson Society\nGomtinagar\nLucknow'

In [152]:
print(address)

 123, Saket Enclave
Godson Society
Gomtinagar
Lucknow

In [153]:
# \t used for tab space
table="Name\t Subject \t Marks \n Anny \t Computer \t 78 \n Siri \t Mathematics \t 89 \n Lucy \t English \t 85"
print(table)

Name	 Subject 	 Marks
 Anny 	 Computer 	 78
 Siri 	 Mathematics 	 89
 Lucy 	 English 	 85

In [154]:
# \' Single quote escape
str1='I can\'t play'
str1

"I can't play"

In [155]:
# carriage return \r << move the cursor to the begginning of line
print("Hello I am Prag")

Hello I am Prag

In [156]:
print("Hello I \r am Prag")

 am Prag

### String Formatting

Creating string with placeholder for variable

In [157]:
print("My name is Alexa")

My name is Alexa

In [158]:
# using f-string
name="Alexa"
print(f"My name is {name}")

My name is Alexa

In [159]:
input=input("Enter your name : ")
print(f"Hey! I am {input}.")

Hey! I am Prag.

In [160]:
# string format << used earlier
greetings="hello %s, How are you??"%input
print(greetings)

hello Prag, How are you??

In [161]:
# .format
template= "Hello,{}!! Welcome to {}"
message=template.format("Annu","Praggy's World")
print(message)

Hello,Annu!! Welcome to Praggy's World

In [162]:
# f string (Formatted string literal)
name="Annu"
place="Banglore"
need="PS5"
f"He is {name}, lives in {place}. He want to buy {need}"

'He is Annu, lives in Banglore. He want to buy PS5'

In [163]:
celsius=30
f"{celsius} C={(celsius*9/5)+32}F"

'30 C=86.0F'

- str.startswith()
- str.endswith()

In [164]:
message

"Hello,Annu!! Welcome to Praggy's World"

In [165]:
message.startswith("Hello")

True

In [166]:
message.endswith("Universe")

False

In [167]:
a="abcd123"
a.isalnum()

True

## Tuples

- Heterogenous
- Ordered collection of elements
- Immutable
- syntax :  tuple()

In [168]:
t=("Data", "Science",56,True)
t

('Data', 'Science', 56, True)

In [169]:
type(t)

tuple

### Indexing

- Indexing will be same as list

In [170]:
t

('Data', 'Science', 56, True)

In [171]:
t[0],t[1],t[2]

('Data', 'Science', 56)

- Immutable :  Changes cannot be done

In [172]:
t

('Data', 'Science', 56, True)

In [173]:
try:
    t[1]="Analyst"
except TypeError as e:
    print("Error ",e)

Error  'tuple' object does not support item assignment

- Use Case
1. We use tuple when we don't want to modify the data.
2. Like :  Credentials, Confidential , Historical events, Transactions, Medical records, Legal documents, etc

In [174]:
login_details=("abc",123)
type(login_details)

tuple

- Counting the elements present in tuple

In [175]:
tuple1=(1,2,2,3,4,7,1,2,4,6,7,2,4,6,3,5,2,1,2,1,1,2)
tuple1.count(1)

5

In [176]:
tuple1.count(2)

7

In [177]:
tuple1.count(3)

2

In [178]:
tuple1.count(4)

3

- Finding index of tuple

In [179]:
tuple1.index(1) # show the index of 1st value only, if repeated then not shown

0

In [180]:
print(tuple1*2)

(1, 2, 2, 3, 4, 7, 1, 2, 4, 6, 7, 2, 4, 6, 3, 5, 2, 1, 2, 1, 1, 2, 1, 2, 2, 3, 4, 7, 1, 2, 4, 6, 7, 2, 4, 6, 3, 5, 2, 1, 2, 1, 1, 2)

### Slicing of Tuple

In [181]:
tuple1=("Anny","DOB-12/12/2009","Student",True)
tuple1

('Anny', 'DOB-12/12/2009', 'Student', True)

In [182]:
tuple1[0:2]

('Anny', 'DOB-12/12/2009')

In [183]:
# reverse
tuple1[::-1]

(True, 'Student', 'DOB-12/12/2009', 'Anny')

- Iteration in Tuple

In [184]:
for i in tuple1:
    print(i, type(i))

Anny <class 'str'>
DOB-12/12/2009 <class 'str'>
Student <class 'str'>
True <class 'bool'>

### max & min

In [185]:
t1=(12,56,789,12,4,-87)
max(t1)

789

In [186]:
min(t1)

-87

In [187]:
t2=(34,90)
t2

(34, 90)

In [188]:
t3=(t2,t1)
t3

((34, 90), (12, 56, 789, 12, 4, -87))

In [189]:
type(t3)

tuple

In [190]:
len(t3)

2

In [191]:
len(t1)

6

In [192]:
t1+t2

(12, 56, 789, 12, 4, -87, 34, 90)

In [193]:
len(t1+t2)

8

## Sets

- Unordered
- Unique collection
- Doesn't allow duplicates
- Not perform indexing
- Syntax : s={element}

In [194]:
s={1,2,3,3,2}
s

{1, 2, 3}

In [195]:
type(s)

set

### Use Case : Remove repetition of elements

In [196]:
list1={'apple','avocado','pulses','apple','chocolate','avocado','apple'}
list1

{'apple', 'avocado', 'chocolate', 'pulses'}

In [197]:
list1=['apple','avocado','pulses','apple','chocolate','avocado','apple']
s=set(list1)
s

{'apple', 'avocado', 'chocolate', 'pulses'}

In [198]:
type(list1)

list

In [199]:
type(s)

set

### Indexing Not allowed

In [200]:
s

{'apple', 'avocado', 'chocolate', 'pulses'}

In [201]:
try:
    s[0]
except TypeError as e:
    print("Error",e)

Error 'set' object is not subscriptable

In [202]:
set1={1,1,2,2,3,4,5,5}
set1

{1, 2, 3, 4, 5}

### Elements of set

The elements of set must be an immutable element, like tuple, string. It can never be mutable like list.

In [203]:
# set in set
s={1,2,2}
try:
    s={1,2,2,{3,3,4}}
except TypeError as e:
    print("Error ",e)

Error  unhashable type: 'set'

In [204]:
# list in set
s={1,2,3}
try:
    s={1,2,3,[4,5,6]}
except TypeError as p:
    print("Error is : ",p)

Error is :  unhashable type: 'list'

In [205]:
# tuple in set
s={1,2,3,(4,5,3,2)}
s

{(4, 5, 3, 2), 1, 2, 3}

In [206]:
type(s)

set

In [207]:
for i in s:
    print(i)

1
2
3
(4, 5, 3, 2)

### mutable

In [208]:
s1={12,34,56,78,90}
s1

{12, 34, 56, 78, 90}

In [209]:
s1.add(100)
s1

{12, 34, 56, 78, 90, 100}

In [210]:
s1.add(5)
s1

{5, 12, 34, 56, 78, 90, 100}

### .pop()

- pop() doesn't take any arguements inside() it will pop out elements randomly.

In [211]:
s1.pop()

34

In [212]:
s1

{5, 12, 56, 78, 90, 100}

In [213]:
s1.pop()

100

### set.remove()

To remove any specific elements

In [214]:
s1

{5, 12, 56, 78, 90}

In [215]:
s1.remove(12)

In [216]:
s1

{5, 56, 78, 90}

### set.update()

In [217]:
s1.update("Prag") #iteration happen
s1

{5, 56, 78, 90, 'P', 'a', 'g', 'r'}

In [218]:
s1.update(["Pragg"]) # iteration not happened
s1

{5, 56, 78, 90, 'P', 'Pragg', 'a', 'g', 'r'}

In [219]:
s1.update("Prag")
s1

{5, 56, 78, 90, 'P', 'Pragg', 'a', 'g', 'r'}

In [220]:
s1.remove('P')
s1

{5, 56, 78, 90, 'Pragg', 'a', 'g', 'r'}

In [221]:
s1.discard(5)
s1

{56, 78, 90, 'Pragg', 'a', 'g', 'r'}

In [222]:
s1.clear()
s1

set()

In [223]:
del s1

### Operations on Set

We can perform some basic operations on set:
- Union of sets
- Intersection of sets
- Difference of sets
- Symmetric Difference of sets

![image.png]()

### Union of sets

Combine elements from two sets excluding duplicates

In [224]:
s1={"ABC",123,"ABC"}
s2={"DEF",123,"GHI"}
s1 | s2 # | for union

{123, 'ABC', 'DEF', 'GHI'}

### Intersection of sets

Common elements of both sets

In [225]:
s1={"ABC",123,"ABC"}
s2={"DEF",123,"GHI"}
s1 & s2 # & for intersection

{123}

### Differences of sets

Elements present in 1st set but not in 2nd set

In [226]:
s1={"ABC",123,"ABC"}
s2={"DEF",123,"GHI"}
s1-s2 # - for difference

{'ABC'}

In [227]:
s2-s1

{'DEF', 'GHI'}

### Symmetric Difference

Present in either of the set but not in both

In [228]:
s1={"ABC",123,"ABC"}
s2={"DEF",123,"GHI"}
s1^s2 # ^ for symmetric difference

{'ABC', 'DEF', 'GHI'}

### Frozen Set

Immutable version of sets, whose elements are frozen i.e. can not be added or removed.
- Syntax : frozenset([list])

In [229]:
s={1,2,3,2}
s.add(10)
s

{1, 2, 3, 10}

In [230]:
my_fs=frozenset([1,2,2,3,4,5])
my_fs

frozenset({1, 2, 3, 4, 5})

In [231]:
type(my_fs)

frozenset

## Dictionary

Data structure of ordered collection of unique value that stores data as key-value pair.
- Keys are unique and immutable
- They are unordered, but from python 3.7 version retain the order of insertion.
- Item will be returned in the order they were added.

- Syntax
d= {}

In [232]:
d={}
type(d)

dict

In [233]:
d={"name":"Prag","email":"abc@gmail","age":24}
d

{'name': 'Prag', 'email': 'abc@gmail', 'age': 24}

In [234]:
for i in d:
    print(i)

name
email
age

In [235]:
for key, value in d.items():
    print(key, value)

name Prag
email abc@gmail
age 24

### Accessing item

d['keys']

In dictionaries the keys act like index of lists.
It means that, when we access anything in list we use index, in the same way when we access anything in dictionary, we use keys to find the values.

In [236]:
d['name']

'Prag'

In [237]:
d['age']

24

### Accessing key

We cannot accessed keys by calling values. because keys are unique so iit can be called for values, as every value must have some well defined unique keys. But every keys does not have unique value so it can't be called.

### Rule of defining Key

- Keys can be int, float, boolean, str, tuple. (As they are immutable, which means once they are created, their value cannot be changed).
- Keys cannot be list, set, dict.(As they are mutable, and they can be changed even after their creation. So the uniqueness of keys can be eloped)

### Considering Key Value

In [238]:
d={"name":"ABCD","age":19,"address":"Noida","name":"XYZ"}
d['name'] # Always last key value will be considered

'XYZ'

In [239]:
d

{'name': 'XYZ', 'age': 19, 'address': 'Noida'}

### Modification of Dict

Since dict is mutable, its value can be modified.

In [240]:
d["address"]="Banglore"
d

{'name': 'XYZ', 'age': 19, 'address': 'Banglore'}

In [241]:
# if key-value in list form
dic={'name':["Anne","Lucy","Rizz"]}
# Values will be listed
# indexing like list
dic

{'name': ['Anne', 'Lucy', 'Rizz']}

In [242]:
dic['name'][1],dic['name'][0]

('Lucy', 'Anne')

### Adding Key value

In [243]:
dic["address"]=["USA","California","Seoul"]
dic

{'name': ['Anne', 'Lucy', 'Rizz'], 'address': ['USA', 'California', 'Seoul']}

### Deleting Key Value

In [244]:
del dic['address']
dic

{'name': ['Anne', 'Lucy', 'Rizz']}

### Deleting whole dict

In [245]:
del dic

In [246]:
# clearing dict
d

{'name': 'XYZ', 'age': 19, 'address': 'Banglore'}

In [247]:
d.clear()
d

{}

In [248]:
# Length of dict
d={"name":"ABCD","age":19,"address":"Noida","name":"XYZ"}
len(d) #last name key will only be considered

3

### Copying the dict

In [249]:
d1=d.copy()
d1

{'name': 'XYZ', 'age': 19, 'address': 'Noida'}

In [250]:
del d1

In [251]:
d #still give output << only copy data deleted

{'name': 'XYZ', 'age': 19, 'address': 'Noida'}

### Removing key value

In [252]:
#d.pop("key")
d.pop("age")

19

In [253]:
d

{'name': 'XYZ', 'address': 'Noida'}

### Adding dict to another dict

In [254]:
d1={"abc":12,"def":45,2.3:"zxc"}
d2={True:34,"asd":56}
d1.update(d2)
d1

{'abc': 12, 'def': 45, 2.3: 'zxc', True: 34, 'asd': 56}

In [255]:
d1.get("def")

45

### fromkeys

In [256]:
d1.fromkeys((1,2,3),("a","b","c"))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

### Dictionary Comprehension

In [257]:
# ZIP Function
students=['Anne','Ken','Marie']
marks=['7.8','6.9','8.9']

In [258]:
for i in zip(students, marks):
    print(i)

('Anne', '7.8')
('Ken', '6.9')
('Marie', '8.9')

In [259]:
#Storing in Key value
students=['Anne','Ken','Marie']
marks=['7.8','6.9','8.9']

students_marks={}
for students, marks in zip(students, marks):
    students_marks[students]=marks
students_marks

{'Anne': '7.8', 'Ken': '6.9', 'Marie': '8.9'}

In [260]:
#using dictionary comprehension
students=['Anne','Ken','Marie']
marks=['7.8','6.9','8.9']

{student : mark for student, mark in zip(students, marks)}

{'Anne': '7.8', 'Ken': '6.9', 'Marie': '8.9'}

In [261]:
# use_case
user_id={'AKJ09','BHU90','LKO77','YTF54'}
user_password={'akjakj','bhubhu','lkolko','ytfytf'}

{user_id : user_password for user_id, user_password in zip(user_id, user_password)}

{'BHU90': 'akjakj', 'AKJ09': 'ytfytf', 'YTF54': 'bhubhu', 'LKO77': 'lkolko'}

In [262]:
a={'abc': 12, 'def': 45, 2.3: 'zxc', True: 34, 'asd': 56}
a.items()

dict_items([('abc', 12), ('def', 45), (2.3, 'zxc'), (True, 34), ('asd', 56)])

In [263]:
a.keys()

dict_keys(['abc', 'def', 2.3, True, 'asd'])

In [264]:
a.values()

dict_values([12, 45, 'zxc', 34, 56])

### Iteration

In [265]:
# For iteration on keys only
a={'abc': 12, 'def': 45, 2.3: 'zxc', True: 34, 'asd': 56}
for key in a.keys():
    print(key)

abc
def
2.3
True
asd

In [266]:
# for iteration on Value
for value in a.values():
    print(value)

12
45
zxc
34
56

In [267]:
# For iteration on keys and values both
for key, value in a.items():
    print(key, value)

abc 12
def 45
2.3 zxc
True 34
asd 56